/* Global */
body{
    margin: 0;
}
.hr{
    width: 80%;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    background-color: #FFFF00;
}
.encabezado i{
    font-size: 40px;
    margin: 20px;
}

h1{
    justify-content: center;
}

/*  Serch for this metology  */
#contenedor{
    max-width: 1480px;
    margin: 0 auto;
}
/*  Gifs section  */
#gifs{
    display: flex;
}
/*  Gifs section - left side */
#gifs-history{
    width: 200px;
    background-color: #5a5a5a;
    text-align: center;
}
#gifs-history h1{ 
    color: #ffffff;
}
#gifs-history-sugerencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
#gifs-history-sugerencias button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #d3c8c8;
    width: 80%;
    height: 30px;
    text-decoration: none;
    border-radius: 4px;
}
#gifs-history-sugerencias button:hover{
    background-color: #71a2da;
}
/*  Gifs section - Right side */
#gifs-container{
    width: 100%;
}
#gifs-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#gifs-container-search{
    width: 70%;
}
#gifs-container-search-div{
    display:flex;
}
#gifs-container-search-div-submitInput{
    width: 40%;
}
#gifs-container-search-div-submitInput:hover{
    background-color: #71a2da;
}
#gifs-container-search input{
    width: 96%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 15px;
}
#gifs-container-search input:focus{
    box-shadow: #96bae4 0px 0px 0px 3px;
    outline: none;
}
#gifs-container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#gifs-container-cards article{
    background-color: #e6ecf3;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#gifs-container-cards article img{
    width: 400px;
    height: 200px;
}
#gifs-container-cards article p{
    padding-left: 15px;
}

/*Populares Section*/

#populares{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

#populares-trama{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    
}

.populares-trama-cuadro1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.1em;
    border: 1px solid #000;
    background: #3498DB;
    padding: 1em;
}

.populares-trama-cuadro1-cuadro2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.populares-trama-cuadro1-cuadro2-pic{
    height: 150px;
    width: 200px;
}

#populares-comentarios{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.populares-comentarios-usuario{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5em;
}

.populares-comentarios-usuario-icon{
    width: 150px;
    height: 150px;
}

i{
   width: fit-content;
   height: fit-content;
}

/*Patrocinadores Section*/

#empresas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.empresas-picture{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.1em;
    padding: 1em;
    justify-items: center;
}

.empresas-picture-logo{
    width: 250px;
    height: 250px;
}

/*Footer*/

.piedepagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.piedepagina-izq{
    display: flex;
    align-items: center;
}
.piedepagina-contacto{
    font-size: 25px;
    margin: 10px;
}
.piedepagina-copyright{
    display: flex;
    font-size: 25px;
    margin: 0;
    align-items: center;
}
.piedepagina-copyright i{
    font-size: 20px;
    margin: 10px;
}
.piedepagina-social{
    font-size: 50px;
    margin: 30px;
}


